name: Create Zip Archives

on: [workflow_dispatch, push]

jobs:
  create-zips:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Cache pip packages
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'  # Enable pip caching
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Create zip files
      run: python download_zips.py
    
    - uses: actions/upload-artifact@v4
      with:
        name: zip-files
        path: |
          PRIMARY.zip
          Secondary_Higher_Secondary.zip
